    .dashboard {
        background: #ecf0f5 !important;
    }
     .media{
     	background: white;
     }
#timer{
	float: left;
font-size: 68px;
height: 50px;
}    
.fix-timer{
	color: #444;
display: block;
padding: 10px;
position: relative;
}